.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  max-width: 1184px;
  box-sizing: border-box;
  margin: 0 auto 92px auto;
}

@media (max-width:1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media (max-width:768px) {
  .photo-grid {
    max-width: 720px;
  }
}

@media (max-width:320px) {
  .photo-grid {
    max-width: 288px;
  }
}