.footer__container {
  display: grid;
  grid-template-columns: repeat(5, min-content) 1fr;
  justify-content: space-between;
  justify-items: start;
  column-gap: 18px;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .footer__container {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer__container {
    max-width: 720px;
  }
}

@media (max-width: 600px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 auto);
    row-gap: 32px;
  }
}
