.footer__link {
  text-decoration: none;
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  opacity: .8;
}

@media (max-width: 600px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}