.intro {
  margin-bottom: 92px;
  max-width: 690px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media (max-width: 400px) {
  .intro {
    max-width: 288px;
    margin-bottom: 64px;
  }
}
