.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .footer__nav {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}
  
