.footer {
  margin: 0 auto 24px auto;
}

@media (max-width: 1024px) {
  .footer {
    margin: 0 auto 24px auto;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0 auto 24px auto;
  }
}

@media (max-width: 600px) {
  .footer {
    margin: 0 auto 24px 16px;
  }
}