.place__url-heading {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media (max-width: 500px) {
  .place__url-heading {
    margin-left: 16px;
  }
}