.cover__item {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  text-decoration: none;
}

.cover__item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2A2C2F;
    opacity: .3;
    z-index: 1; 
}

.cover__item:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .cover__item {
        height: 640px;
    }
}

@media (max-width: 768px) {
    .cover__item {
        height: 480px;
    }
}

@media (max-width: 320px) {
    .cover__item {
        height: 200px;
    }
}
